body
{
    /* font-family: Times New Roman, Times, serif; */
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 8in;
    margin-left: 2em;
}

div.author
{
    font-style: italic;
}

div.signature
{
    margin-top: 1em;
    text-align: right;
    text-indent: 0;
    white-space: pre-wrap;
}

div.quote
{
    text-indent: 0;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

hr
{
    color: black;
    background-color: black;
    height: 1px;
    border: 0;
}

h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*
  Use a classic paragraph: first line indented, no vertical
  space between paragraphs.
*/
p
{
    text-indent: +2em;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
}

div.left p {
  margin-top: 1em;
  text-indent: 0;
  text-align: left;
}

div.center p {
  margin-top: 1em;
  text-indent: 0;
  text-align: center;
}

div.right p {
  margin-top: 1em;
  text-indent: 0;
  text-align: right;
}

div.sep {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
